{% extends "base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            {% block logo %}
                <div class="block block-logo">
                    <div class="side-log">
                        <img src="/images/logo.png" />
                    </div>
                </div>
            {% endblock %}
            {% block main_menu %}
                <div class="main-menu" id="menu_main_menu">
                    <div class="type-menu">
                        <ul>
                            <li><a href="{{ path("homepage") }}">Все блоги</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path("blog_user_show_all") }}">Мои блоги</a></li>
                                <li><a href="{{ path("blog_user_add") }}">Добавить блог</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path("user_list") }}">Пользователи</a></li>
                                    <li><a href="{{ path("feed_back_list") }}">Отзывы</a></li>
                                {% endif %}
                                <li><a href="{{ path("about_us") }}">О нас</a></li>
                                <li><a href="{{ path("logout") }}">Выход</a></li>
                            {% else %}
                                <li><a href="{{ path("about_us") }}">О нас</a></li>
                                <li><a href="{{ path("login") }}">Вход</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}

        </header>
    {% endblock %}


    {% block content %}
        <div id="main_container">
        {% block site_title %}
            <div style="display: block; text-align: center; ">
                <h1>{% block page_title %}Заголовок страницы{% endblock %}</h1>
            </div>
        {% endblock %}
            <main class="{% block main_class %}{% endblock %}">
                {% block main %}{% endblock %}
            </main>
        </div>
    {% endblock %}


    {% block footer %}
        <footer role="contentinfo">
            <div class="block block-copyright">
                Copyright &copy; 2016. All right reserved.
            </div>
        </footer>
    {% endblock %}
{% endblock %}