{% extends 'base.html.twig' %}

{% block title %}Блог{% endblock %}

{% block body %}
    {##}{% for post in pagination %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_page', { page: post.id }) }}">
                    {{ post.title }}
                </a>
            </h2>

            {{ post.summary }}
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}