{% extends 'page.html.twig' %}

{% block title %}Блоги {{ app.user.username }}{% endblock %}

{% block page_title %}Блоги пользователя {{ app.user.username }}{% endblock %}

{% block main %}

    {% for post in pagination %}
        <article class="blog blog-teaser" xmlns="http://www.w3.org/1999/html">

            <h2 class="article-title">
                <a href="{{ path('blog_user_page', { page: post.id }) }}">{{ post.title }}</a>
            </h2>
            <div class="container blog-container">
                <div class="field field_created">
                    {% if post.edited|date("d-m-Y H:m") != "30-11-0001 00:11" %}
                        Изменен: {{ post.edited|date("d-m-Y H:m") }}
                    {% else %}
                        Дата создания: {{ post.created|date("d-m-Y H:m") }}
                    {% endif %}
                </div>
                <div style="display: block; text-align: center;">
                    {{ post.summary|raw }}
                </div>
                <nav class="link-menu" role="navigation">
                    <ul>
                        <li class="read-more"><a href="{{ path('blog_user_page', { page: post.id }) }}" >Подробнее</a></li>
                        <li class="read-more"><a href="{{ path('blog_user_edit', { page: post.id }) }}" >Редактировать</a></li>
                        <li class="read-more"><a href="{{ path('blog_user_del', { page: post.id }) }}" >Удалить</a></li>
                    </ul>
                </nav>
            </div>

        </article>
    {% else %}
        <div class="well">{{ 'У вас пока нет не одного блога'|trans }}</div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}